# **Data Science Tools and Ecosystem**

## Author
Hunter Batchelder

Objectives:

    - List popular languages for Data Science
    - Commonly used libraries in Data Science
    - Evaluating arithmetic expressions in Python

In this notebook, Data Science Tools and Ecosystem are summarized.
Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Python

Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Panadas
- Matplotlib

| Data Science Tools | 
| :-: |
| Apache Spark |
| Apache Hadoop |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335